
*{ 
    margin: 0;
    padding: 0; 
    align-items: center;  
}

.titulo{
    text-align: center;
    font-weight: 700;
    
}
/* Referente a Tabela 1 */
.tabela1{
    display: flex;
    justify-content: center;
}

.textl1c1{
    text-align: left;
}

.linha1 th{
    background-color: darkgray;
    width: 25vw;
}

.linha1 td{
    background-color: whitesmoke;
    width: 40vw;
}

.stylec2{
    width: 40vw;
}

.styleselect{
    width: 40.3vw;
}

/* Referente a Tabela 2 */
.tabela2{
    display: flex;
    justify-content: center;
}
.linhaobj th{
    background-color: darkgray;
    width: 25vw;
}

.linhaobj td{
    background-color:whitesmoke;
    width: 40vw;
}

.objstyle{
    width:600px;
    height:50px;
    max-height: 300px;
    border: 1.5px solid #000099;
    resize: vertical;
    font-family: Garamond,verdana;
    text-align: left;
}

/* Referente a Tabela 3 */
.tabela3{
    display: flex;
    justify-content: center;
}

.c2tab3{
    width: 30vw;
}

.uf{
    width: 10vw;
}


/* Referente a Tabela 4 */
.tabela4{
    display: flex;
    justify-content: center;
}

.resetsub{
    margin-left: 17vw;
    width: 7vw;
    background-color: blue;
    color: gainsboro;
}

.resetsub2{
    width: 7vw;
    background-color: blue;
    color: gainsboro;
}

input:required:invalid, input:focus:invalid, textarea:required:invalid, textarea:focus:invalid {
    background: url("./components/wrong.gif") no-repeat;
    background-position: right;
    background-color: white;
} 

input:required:valid, textarea:required:valid { 
    background: url("./components/check.png") no-repeat;
    background-position: right;
    background-color: white;
}
